body{
    background: #dcc918;
}

hr{
    height: 0.25rem;
    width: 90%;
    background-color: #242526;
    border: #242526;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;    
}

.logo-presentacion-contenedor{
    justify-content: center;
}
.logo-presentacion-img{
    height: 16rem;
}

.descripcion{
    padding: 2rem;
    text-align: justify;
    font-size: 1.2rem;
    width: 90%;
}

.desafios{
    width: 80%;
}

.desafio-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.contenedor-desafio-link{
    background-color: #242526;
    color: #dcc918;
    padding: 1rem;
    text-align: center;
    width: 35%;
    text-decoration: none;
}.contenedor-desafio-link:hover{
    scale: 1.1;
    background-color: #2c2d2e;
}

.desafio-dia{
    font-size: 1.8rem;
    font-weight: bold;
}
.desafio-nombre{
    font-size: 1.2rem;
}

footer {
    padding: 1.25rem;
    background-color: #242526;
    color: #dcc918;
    text-align: center;
    margin-top: 2rem;
}

.home{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contacto{
    color: #dcc918;
    font-weight: bold;
}

.day-header{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 1rem;
    align-items: center;
}
.day-data{
    color: #242526;
    display: flex;
    flex-direction: column;
}
.day-title{
    font-size: 3rem;
    font-weight: bold;
}
.day-name{
    font-size: 1.2rem;
}
.day-instrucciones{
    color: #242526;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.code-box{
    width: 40%;
    margin: 2rem;
}

.day-contenido{
    padding: 2rem;
    padding-top: 1rem;
    text-align: justify;
    font-size: 1.2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.solucion-data{
    color: #242526;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
}
.solucion-title{
    font-size: 3rem;
    font-weight: bold;
}
.solucion-name{
    font-size: 1.2rem;
}